<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<div id='about-list'>
    <about-item v-for="post in posts" v-bind:key="post.id" v-bind:item="post"></about-item>
</div>

<script>
    Vue.component('about-item', {
        props: ['item'],
        template: `
            <div>
                <h3 v-html="item.title"></h3>
                <div v-html="item.content"></div>
            </div>
            `
    })

    new Vue({
        el: '#about-list',
        data: {
            posts: [
                { id: 1, title: 'What?', content: "Workspace for learning and research" },
                { id: 2, title: 'Why?', content: "To learn we need to try" }
            ]
        }
    })
</script>